<form class="form-horizontal">
  <div class="form-group">
    <h3><%= t('visitiors.welcome') %></h3>
    <p><%= link_to t('user.users'), users_path %> <%= User.count %> <%= t('visitiors.registered') %></p>
  </div>
</form>